.499481.padl
.CFUserTextEncoding
**/.DS_Store
.atom/
.bash_history
.bash_profile.macports-saved_2018-04-11_at_00:54:17
.bash_sessions/
.bashrc
.bfglF14263T2L1/
.cache/
.config/
.cups/
.docker/
.gitconfig
.gradle/
.groovy/
.iterm2/
.iterm2_shell_integration.bash
.java/
.local/
.m2/
.oracle_jre_usage/
.setting.sm
.ssh/
.Trash/
.viminfo
.yandex/
Applications/
Boostnote/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
README.md
Sites/
Standard Notes Backups/
VirtualBox VMs/
X5/*
oradiag_ilya/
syslinux/
.bash_profile_back
.oh-my-zsh/
.zcompdump-div-5.3
.zsh_history
gitkraken/
.zcompdump-div-5.6.2
.gitkraken/
.zcompdump-div-5.7.1
jenkins/
jenkins_backups/
.duc.db
Desktop/
Jagex/
.history
.lesshst
rtl8812au/README.md
go/bin/
go/src/github.com/jesseduffield/
go/
X5/
~/X5/*
X5
.android/
groovy-2.5.8/
IdeaProjects/
.dlv/
go/pkg/darwin_amd64/github.com/Ullaakut/
go/pkg/darwin_amd64/github.com/sparrc/
go/src/github.com/BurntSushi/
go/src/github.com/Ullaakut/
go/src/github.com/alecthomas/
go/src/github.com/fatih/
go/src/github.com/go-delve/
go/src/github.com/golangci/
go/src/github.com/mattn/
go/src/github.com/mdempsky/
go/src/github.com/mgechev/
go/src/github.com/olekukonko/
go/src/github.com/ramya-rao-a/
go/src/github.com/rogpeppe/
go/src/github.com/sparrc/
go/src/github.com/sqs/
go/src/github.com/tpng/
go/src/github.com/zmb3/
go/src/golang.org/
go/src/test_project/
.idlerc/
.python_history
.zcompdump-MacBook Pro — Илья-5.7.1
.zprofile
Projects/
.idlerc/
Projects/
.translation/
.mono/
.vscode/
.IdentityService/
.templateengine/
gitlab/
.ipython/
chromedriver
.idm/
.influx_history
.pipupgrade/
.pylint.d/
.tooling/
.vscode-insiders/
~/groovy
jetbrains-agent.jar
