.CFUserTextEncoding
.DS_Store
.IdentityService/
.Trash/
.android/
.anyconnect
.cache/
.cisco/
.config/
.docker/
.gitconfig
.gradle/
.groovy/
.idlerc/
.idm/
.influx_history
.ipython/
.local/
.m2/
.mono/
.oh-my-zsh/
.oracle_jre_usage/
.pipupgrade/
.pylint.d/
.python_history
.ssh/
.templateengine/
.tooling/
.translation/
.viminfo
.vscode-insiders/
.vscode/
.yandex/
.zcompdump-MacBook Pro-5.7.1
.zcompdump-MacBook Pro — Илья-5.7.1
.zsh_history
Applications/
Boostnote/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Projects/
VirtualBox VMs/
X5/
chromedriver
go/
syslinux/
.zprofile
repo/
.matplotlib/
.vs-kubernetes/
HI-TECH/
.iterm2/
.iterm2_shell_integration.zsh.bash_history
PACKs
.pip/
.pyenv/.wget-hsts
.pyenv/
.wget-hsts
.vnc/
.vscode-oss/
.mume
.mume/
.bashrc
